<p id="notice"><%= notice %></p>

<p>
  <strong>X:</strong>
  <%= @house.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @house.y %>
</p>

<p>
  <strong>Price:</strong>
  <%= @house.price %>
</p>

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
